<h1>Helllo Word</h1>

<button mat-raised-button color="primary">Primary Button</button>
<button mat-stroked-button color="accent">Accent Button</button>
<button mat-flat-button color="warn">Warn Button</button>

<button mat-button>Basic Button</button>
<button mat-flat-button color="accent">Flat Button</button>

<div class="p-5">
  <i class="fa-solid fa-house">Home</i>
</div>

<swiper-container class="mySwiper" navigation="true">
  <swiper-slide>Slide 1</swiper-slide>
  <swiper-slide>Slide 2</swiper-slide>
  <swiper-slide>Slide 3</swiper-slide>
  <swiper-slide>Slide 4</swiper-slide>
  <swiper-slide>Slide 5</swiper-slide>
  <swiper-slide>Slide 6</swiper-slide>
  <swiper-slide>Slide 7</swiper-slide>
  <swiper-slide>Slide 8</swiper-slide>
  <swiper-slide>Slide 9</swiper-slide>
</swiper-container>