<div class="about-section" id="aboutId">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="images/user.jpg" alt="head master" class="header-master">
            </div>

            <div class="col">
                <div class="headmaster-speach">
                    <div class="quote-container left-quote">
                        <img src="images/left.png" alt="quote" class="quote">
                    </div>

                    <div class="speach-container">
                        <p class="speach-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, exercitationem. 
                            Sint accusamus consequatur aliquam voluptatem quia et deleniti, ipsum repudiandae, 
                            harum quisquam rerum, amet officiis illum voluptates dignissimos quis in?
                        </p>
                    </div>

                    <div class="quote-container right-quote">
                        <img src="images/left.png" alt="quote" class="quote">
                    </div>

                    <div class="footer">
                        <p class="name">Dr. Ahmad Darusaini, Ph.D.</p>
                        <p class="role">Kepala Rumah Sakit</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>